<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                сейчас расскажу о себе
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Привет! &#128075; <br> Меня зовут Маргарита, я учусь программированию. Это интересно, увлекательно и для меня это <p>очень</p>
          <h6>очень</h6>
          <h5>очень</h5>
          <h4>очень</h4>
          <h3>очень</h3>
          <h2>очень сложно!!!!111</h2></p>
          <p>Но! терпение и труд все перетрут и я смогу осилить это науку, потому что мотивация моя очень высока&#129304;</p>
          
          Смотреть мои проекты можно на <a href="https://github.com/margarita-klochkova" target="_blank">GitHub</a><br><br>
          <img src="https://sun1-26.userapi.com/s/v1/if2/RTZXHyNl-EGTBra7K4GY87MiexjHS1wNI2sqi5hyzhmVv_Hs378g4yAIjvoNySt6MwDmvUz62cLNlYRfkT1pcjSj.jpg?size=200x0&quality=96&crop=267,0,1713,1714&ava=1"/>
          <img >
        </div>
      </div>
    </div>
  </div>
{% endblock %}